@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 500;
    text-align: center;
    background-color: #ECE3CE;
    color: #3A4D39;
    box-sizing: border-box;
}

header {
    font-weight: bold;
}

main {
    padding: 0 1%;
}

.contato {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 0.3%;
    margin-bottom: 2%;
    color:#ECE3CE;
    background-color: #3A4D39;
}

.conectar {
    margin-left: 55%;
    display: flex;
    gap: 30px;
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 2%;
}


.container1 input {
    padding: 0.5% 10%;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    list-style: none;
    padding: 0.3%;
    margin-bottom: 2%;
    background-color: #3A4D39;
}

section {
    text-align: justify;
    margin-bottom: 30px;
}

.eventos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

footer {
    background-color: #3A4D39;
    color: #ECE3CE;
    padding: 1%;
    margin-top: 2%;
}

h1, h2, h3 {
    margin-bottom: 1%;
}

.claro {
    color:#ECE3CE;
    text-decoration: none;
    cursor: pointer;
}

.escuro {
    color: #3A4D39;
    text-decoration: none;
    cursor: pointer;
}

.claroFundo {
    color:#ECE3CE;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    background-color: #3A4D39;
    border-radius: 15px;
}

.distancia {
    width: 60%;
    margin-bottom: 4%;
}

.escuro:hover {
    color: #739072;
}

.claro:hover {
    color: #fff;
}